$primary-color = #1890ff
$primary-font-size = 14px
$primary-font-color = #333333

$smaller-font-size = 12px
$smaller-font-color = rgba(0, 0, 0, 0.45)

$head-title-font-size = 24px
$head-title-font-color = #333333

$sub-title-font-size = 14px
$sub-title-font-color = #999999

$border-radius = 6px
$border-color = #333

$selected-font-color= #222222
$selected-bg-color= #E4E4E4

$green-color = #008100
$red-color = #f5222d

$a-text-color = #3F90FF

// Extra small screen / phone
$screen-xs = 480px
// Small screen / tablet
$screen-sm = 576px
// Medium screen / desktop
$screen-md = 768px
// Large screen / wide desktop
$screen-lg = 992px
// Extra large screen / full hd
$screen-xl = 1200px
// Extra extra large screen / large descktop
$screen-xxl = 1600px
